name: rails-start

services:
  nginx:
    image: nginx:alpine
    ports:
      - "8080:8080"
    volumes:
      - ../__RailsApp__/config/nginx/production.conf:/etc/nginx/conf.d/default.conf:ro
      - ../__RailsApp__/public:/public:ro

  rails:
    tty: true
    stdin_open: true
    image: ghcr.io/the-teacher/rails-start.main:latest
    env_file:
      - ../ENV/local/.env.${RAILS_ENV:-development}
    environment:
      - RAILS_ENV=${RAILS_ENV:-development}
    ports:
      - "3000:3000"
    volumes:
      - ../__RailsApp__:/home/rails/RailsApp
    working_dir: /home/rails/RailsApp
    command: sleep infinity
